{% extends "fh/fhbase.html" %}
{% block title %}番号系列{% endblock %}
{%block body%}
<div class="women_main">
    <input type="hidden" class="indextype" value="{{ indextype }}" />
    <div class="col-md-12 w_content">
        <div class="women">
            <a href="#">
                <h4>番号系列<span></span> </h4>
            </a>
            <div class="clearfix"></div>
        </div>
            <div class="">
              <ul class="megamenu skyblue">
              {% for mi in publist%}
                <li class="col-md-3 border border-success">
                  <a class="color{{loop.index%10+1}}" target="_blank" href="/publisher/{{mi['pub']|urlencode|replace('/','[_]')|e|safe}}">{{mi['pub']}}  <span class="badge">{{mi['count']}}部</span>
                  </a>
                </li>
              {% endfor %}
              </ul>
            </div>
        <!-- Product -->
    </div>
</div>
{%endblock%}
