{% extends "fh/fhbase.html" %}
{% block title %}{{publisher}}系列番号{{ year }}-第{{curpage}}页{% endblock %}
{%block body%}
<div class="women_main">
    <div class="col-md-3">
        <div class="w_sidebar">
            <section class="sky-form">
                <h4>发行时间</h4>
                <div class="row1 scroll-pane">
                    <div class="col col-4">
                        <a href="/publisher/{{publisher}}"><button>全部</button></a>
                    </div>
                    <div class="col col-4">
                        <a href="/publisher_date/{{publisher}}/2018"><button>2018</button></a>
                        <a href="/publisher_date/{{publisher}}/2017"><button>2017</button></a>
                        <a href="/publisher_date/{{publisher}}/2016"><button>2016</button></a>
                        <a href="/publisher_date/{{publisher}}/2015"><button>2015</button></a>
                        <a href="/publisher_date/{{publisher}}/2014"><button>2014</button></a>
                        <a href="/publisher_date/{{publisher}}/2013"><button>2013</button></a>
                        <a href="/publisher_date/{{publisher}}/2012"><button>2012</button></a>
                        <a href="/publisher_date/{{publisher}}/2011"><button>2011</button></a>
                        <a href="/publisher_date/{{publisher}}/2010"><button>2010</button></a>
                        <a href="/publisher_date/{{publisher}}/2009"><button>2009</button></a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div name='douban' class="col-md-9 w_content" data-reactid="17">
        <div class="women">
            <a href="#">
                <h4>番号系列 - {{publisher}} 的所有作品<span></span> </h4>
            </a>
            <div class="clearfix"></div>
        </div>
            {% for mi in fanhaolist%}
                {% if (loop.index - 1) % 4 == 0 %}
                <div class="grids_of_4">
                {%endif%}
                <div class="grid1_of_4">
                    <div class="content_box">
                            <div class="view view-fifth">
                                <a href="/fhhash/{{mi['no']}}/{{mi['cast'][0]}}" target="_blank">
                                <img src="{{mi.img}}" class="img-responsive" alt="{{mi['cast'][0]}}" />
                                <div class="mask">
                                    <div class="info">Quick View</div>
                                </div></a>
                            </div>
                        <h4><a target="_blank" href="/fhhash/{{mi['no']}}/{{mi['cast'][0]}}">{{mi['no']}}</a></h4>
                        <p>{{mi['issuedate']}} <strong>点赞：</strong>{{mi['hot']}}</p>
                    </div>
                </div>
                {% if (loop.index) % 4 == 0 or loop.last %}
                </div>
                <div class="clearfix"></div>
                {%endif%}
            {% endfor %}
            <div class="clearfix"></div>
            <nav aria-label="document list paging" class="col-md-12" id="docpagi" max-size="5">
                <ul class="pagination pagination-md pagination-flush">
                </ul>
            </nav>
        </div>

    <script>
        $(function () {
            var page = {{ curpage }};
            var year = '{{ year }}';
            console.log(year);
            if (!page)
                page = 1;

            pageurl = ""
            if(year)
            {
              pageurl = "/publisher_date/{{publisher}}/{{year}}/__id__";
            }
            else {
              pageurl = "/publisher/{{publisher}}/__id__";
            }
            $(".pagination").createPage({
                totalPage: {{ pages }},
                currPage: page,
                link_to: pageurl
            });
        })
    </script>
</div>
{%endblock%}
