{% extends "fh/base.html" %}
{% block header %}
<div class="header_bg">
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="/"><img src="/static/TitleLogoTop.png" alt="" /> </a>
            </div>
            <!-- start header_right -->
            <div class="header_right">
                <div class="search">
                    <form class="" action="/search">
                        <input type="text" name="word" value="" placeholder="search...">
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- start header menu -->
            <ul class="megamenu skyblue">
                <li><a class="color1" href="/">磁链搜索</a></li>
                <li><a class="color6" href="/hottags">热门标签</a></li>
                <li><a class="color2" href="/fh/mvtop">豆瓣口碑</a></li>
                <li><a class="color2" href="/fh/mvhot">影院热映</a></li>
                <li><a class="color3" href="/fh/fhs">番号大全</a></li>
                <li><a class="color4" href="/fh/casts">女优排行</a></li>
                <li><a class="color5" href="/fh/publishers">番号系列</a></li>
            </ul>
        </div>
    </div>
</div>
{%endblock%}

{%block footertop%}
<div class="container">
    <div class="span_of_4">
        <div class="span1_of_4">
            <h4>热门番号</h4>
            <ul class="f_nav">
                <li><a href="/fh/fhhash/ABP-145/%E6%A1%83%E8%B0%B7%E7%BB%98%E9%87%8C%E9%A6%99/">ABP-145</a></li>
                <li><a href="/fh/fhhash/KAWD-696/铃木心春/">KAWD-696</a></li>
                <li><a href="/fh/fhhash/AVOP-125/%E7%BE%8E%E7%AB%B9%E9%93%83/">AVOP-125</a></li>
                <li><a href="/fh/fhhash/PPT-018/%E6%A1%83%E8%B0%B7%E7%BB%98%E9%87%8C%E9%A6%99/">PPT-018</a></li>
            </ul>
        </div>
        <div class="span1_of_4">
            <h4>热门女优</h4>
            <ul class="f_nav">
                <li><a href="/fh/cast/%E4%B8%89%E4%B8%8A%E6%82%A0%E4%BA%9A/">三上悠亚</a></li>
                <li><a href="/fh/cast/%E6%A1%83%E8%B0%B7%E7%BB%98%E9%87%8C%E9%A6%99/">桃谷绘里香</a></li>
                <li><a href="/fh/cast/%E6%9F%9A%E6%9C%A8%E6%8F%90%E5%A8%9C/">柚木提娜</a></li>
                <li><a href="/fh/cast/%E9%93%83%E6%9C%A8%E5%BF%83%E6%98%A5/">铃木心春</a></li>
                <li><a href="/fh/cast/%E6%98%8E%E6%97%A5%E8%8A%B1%E7%BB%AE%E7%BD%97/">明日花绮罗</a></li>
                <li><a href="/fh/cast/%E5%AE%87%E9%83%BD%E5%AE%AB%E7%B4%AB%E8%8B%91/">宇都宫紫苑</a></li>
            </ul>
        </div>
        <div class="span1_of_4">
            <h4>热门系列</h4>
            <ul class="f_nav">
                <li><a href="/fh/publisher/PREMIUM">PREMIUM</a></li>
                <li><a href="/fh/publisher/S1NO.1STYLE">S1NO.1STYLE</a></li>
                <li><a href="/fh/publisher/MAX-A">MAX-A</a></li>
                <li><a href="/fh/publisher/ONEZ">ONEZ</a></li>
                <li><a href="/fh/publisher/%E3%83%8A%E3%83%B3%E3%83%91JAPAN">ナンパJAPAN</a></li>
                <li><a href="/fh/publisher/h.m.p">H.M.P</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- start span_of_2 -->
    <div class="span_of_2">
        <div class="span1_of_2">
            <h5>need help? <a href="#">contact us <span> ></span> </a> </h5>
            <p></p>
        </div>
        <div class="span1_of_2">
            <h5>follow us </h5>
            <div class="social-icons">
                <ul>
                    <li><a href="#" target="_blank"></a></li>
                    <li><a href="#" target="_blank"></a></li>
                    <li><a href="#" target="_blank"></a></li>
                    <li><a href="#" target="_blank"></a></li>
                    <li><a href="#" target="_blank"></a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{%endblock%}
